- var static = true
doctype html
html(lang='en')
  head
    base(href=base)
    include ../_component/meta
      
    link(href='css/style.css', rel='stylesheet')
    block head
  body
    block content
      
    block javascript
